/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px
}

/* Header Section */
.main-header {
    background-color: #1a1a1a;
    padding: 20px 0
}

.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    transition: transform 0.3s ease;
}

/* LESSON 7: HOVERING FOR LOGO */
.logo:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.main-nav a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 30px;
    transition: color 0.4s ease;
}

/* FOR LESSON 7 */
.main-nav a:hover {
    color: #2fe979;
    /* text-decoration: underline; */
    border-bottom: 2px solid #2fe979;
    padding-bottom: 5px;
}

.main-nav a:focus {
    outline: 2px solid #3498db;
    outline-offset: 4px;
}

/* Hero Section */
.hero {
    background-color: #104a71;
    color: #ffffff;
    padding: 100px 0;
    text-align: center
}

.hero-title {
    font-size: 48px;
    margin-bottom: 20px
}

/* LESSON 6: HOVERING AGAIN */
.hero-title:hover {
    color:#41a796;
    transform: scale(1.05);
}

.hero-subtitle {
    font-size: 20px;
    margin-bottom: 30px
}

/* Buttons */
.btn {
    padding: 20px 40px;
    font-size: 22px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.btn-primary {
    background-color: #239b1f;
    color: #ffffff
}

/* LESSON 7: BUTTON HOVERING */
.btn:hover {
    transform: translateY(-2px) scale(1.05);
    opacity: 0.9;
}

.btn:active {
    transform: translateY(0)
}