/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2
}

h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 15px
}

h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 15px
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px
}

/* Header Section */
.main-header {
    background-color: #1a1a1a;
    padding: 20px 0
}

.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    transition: transform 0.3s ease;
}

/* LESSON 7: HOVERING FOR LOGO */
.logo:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.main-nav a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 30px;
    transition: color 0.4s ease;
}

/* FOR LESSON 7 */
.main-nav a:hover {
    color: #2fe979;
    /* text-decoration: underline; */
    border-bottom: 2px solid #2fe979;
    padding-bottom: 5px;
}

.main-nav a:focus {
    outline: 2px solid #3498db;
    outline-offset: 4px;
}

/* Hero Section */
.hero {
    background-color: #104a71;
    color: #ffffff;
    padding: 120px 0;
    text-align: center
}

.hero-title {
    font-size: 48px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgb(0,0,0,0.9);
}

/* LESSON 6: HOVERING AGAIN */
.hero-title:hover {
    color:#41a796;
    transform: scale(1.05);
}

.hero-subtitle {
    font-size: 22px;
    margin-bottom: 40px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

/* Buttons */
.btn {
    padding: 20px 40px;
    font-size: 22px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.btn-primary {
    background-color: #239b1f;
    color: #ffffff
}

/* LESSON 7: BUTTON HOVERING */
.btn:hover {
    transform: translateY(-2px) scale(1.05);
    opacity: 0.9;
}

.btn:active {
    transform: translateY(0)
}

.features {
    text-align: center;
    padding: 80px 0;
    background-color: #f8f9fa
}

.container {

}

.section-title {
    font-size: 35px;
    text-align: center;
    color: #2c3e50;
    margin-bottom: 10px
}

.section-subtitle {
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color:#7f8c8d;
}

.features-grid {
    display: flex;      /* activating flexbox  */
    justify-content: space-between;
    /* Distributes space */
    gap: 30px 
    /* (space between items) */
}

.feature-card {
    flex: 1;
    padding: 40px 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card h3 {
    color: #2c3e50;
    margin-bottom: 15px
}

.feature-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.feature-icon {
    font-size: 55px;
    margin-bottom: 10px
}

.feature-box {
    flex: 1;
    justify-content: space-around;
    padding: 40px 30px;
    margin: 35px;
    box-shadow: 0px 10px 17px rgb(252, 90, 90, 0.35);
    border-radius: 89px;
    transition: transform 0.3s ease, box-shadow 0.5s ease;
}

.feature-box:hover {
    transform: translateY(5px);
    box-shadow: 0 15px 20px rgb(252, 90, 90, 0.20)
}

/* LESSON 10 */
.about {
    padding: 80px 0;
    background-color:#ffffff;

}

.about-content {
    display: flex;
    align-items: center;
    gap: 75px
}

.about-text {
    flex: 1;
}

.about-image {
    flex: 1;
    width: 100%;
    border: 10px;
    border-radius: 52px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.)
}

.about-text h2 {
    color: rgb(41, 41, 83);
    margin-bottom: 25px;
    font-size: 2.2rem;
}

.about-text p {
    color: #555;
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 1.5rem
}